form {
  text-align: center;
}
body{
    margin:0;
    padding:0;
    
}
.wrapper{
    background-image: url("../images/backgrounds/desktop.jpg");
    background-size: 100%;
    width:100%;
    height:100vh;
    min-width: 950px;
}