@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/backgrounds/desktop.jpg");
  background-size: 100%;

}

.welcome{
  width:100%;
  height: 100%;
  
}

form {
  text-align: center;
}

.welcome img{
  width: 300px;
  height: 300px;
  margin-left: 525px;
  opacity: 0.5;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-width: 500px;
}

.register_box {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 5px;
  opacity: 0.8;
}

.app_header {
  position: relative;
  font-family: "Special Elite", cursive;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: #20aae5;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 111px;
  border-top-left-radius: 161px;
  text-shadow: #030822 0.5px 0.5px 0px; 
}
.welcome_header {
  position: relative;
  font-family: "Special Elite", cursive;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
 
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.sub_heading {
  font-size: 10px;
  letter-spacing: 1px;
}
 #firstLetter {
  font-weight: bold;
  color: rgb(204, 201, 3);
}

input[type="submit"] {
  background-color: #20aae5;
  color: #fff;
  margin: 20px 0px;
  letter-spacing: 1.4px;
  border: 1px solid 2b61c5;
  border: none;
  border-radius: 4px;
  padding: 7px 50px;
  cursor: pointer;
  height: 45px;
}

input[type="submit"]:hover{
  background-color: #0e78a5;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin: 10px 0px;
  padding: 7px 5px;
  width: 70%;
  height: 25px;
  border: 1px solid #dededd;
  border-radius: 3px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
   border:1px solid #2b61c5;
}

#second {
    display:none;
}
#signIn{
  color:#2b61c5;
  font-weight: 100;
  text-decoration: none;
}
#signUp{
 color:#2b61c5;
 font-weight: 100;
 text-decoration: none;
}

.errorDiv{
  color:red;
  font-size: 13px;
  text-align: center;
}