*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.top_bar{
    width:100%;
    min-width: 1050px;
    height: 40px;
    background-color: #20aae5;
    border-bottom: 0.25em solid #1894ca;
    margin:0 0 10px 0;
    display: inline-flex;
}